In [2]:
import pandas as pd
student={
    'Name of the student':['Ajay','Ajax','Raju','Ravi','Abdullah','Sameer','Shahriq','Waseem','Muqeed','Feroz'],
    'University':['JNTUA','JNTUA','JNTUK','SVU','JNTUK','JNTU','JNTUH','JNTUH','JNTUA','LPU'],
    'Branch':['CSE','ECE','CIVIL','MECH','EEE','AIML','CST','CSB','EEE','ECE']
}
df=pd.DataFrame(student)
df
var=df['University']=='JNTUA'
x=df.where(var,inplace=False)
x.dropna(inplace=True)
x

  Name of the student University Branch
0                Ajay      JNTUA    CSE
1                Ajax      JNTUA    ECE
8              Muqeed      JNTUA    EEE